<!DOCTYPE html>
<html>
<head>
	<title>Chat app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<script src="/socket.io/socket.io.js"></script>
	<style>body{
		background: #c2e59c;
		background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); 
		background: linear-gradient(to left, #c2e59c , #64b3f4); 
    	}
	</style>
</head>
<body>
	<div id="chatApp">
		<div v-if="newUser" class="ui container">
	       	<div class="ui form">
			   	<h1 style="color:white" class="heading">Chat App</h1>
		       	<div class="field">
			       	<div class="ui labeled input">
			       		<div class="ui teal label">
				       		Name:
				       	</div>
				       	<input type="text" @keydown.enter="getUsername">
			       	</div>
		       	</div>
	       	</div>
		</div>
		<!-- After loggedin -->
		<div v-if="!newUser">		
		<div id="menu" class="ui inverted stackable menu">
			<div class="item down">Users online - </div> 
			<div class="ui active item" v-for="value,key in users" v-if="value.typing">
					{{value.user}}(Typing)
			</div>
			<div v-else class="ui active item">{{value.user}}</div>
		</div>
			<div class="ui stackable centered grid">
				<div class="twelve wide column">
					<div class="ui segments">
						<div class="ui segment" v-for="obj,index in msgs">
							<div v-if="index==0" class="ui header">{{obj.user}}</div>
							<div v-if="index>0&&msgs[index].user!=msgs[index-1].user" class="ui header">{{obj.user}}</div>
							<div class="content">{{obj.msg}}</div>
						</div>
					</div>
					<div id='bottom' style="height:120px;width: 100%"></div>
				</div>
			</div>
			<div class="ui massive form" style="width:100%; position:fixed; bottom:0;left:0"><input type="text" placeholder="type here..." id="msgbox" @keydown.enter.stop="sendMsg" v-model="msg">
			</div>
		</div>
	</div>
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.3/howler.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="./vu.js"></script>


</body>
</html>
